# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.AdressBook.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Atic\OneDrive\Belgeler\addressbook\.idea\.idea.AdressBook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
