# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.addressbook.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Atic\OneDrive\Belgeler\addressbook\.idea\.idea.addressbook.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
